<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Portfolio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">

	<style>
		div {
			background-color: rgba(255, 255, 255, 0.0);
		}

		body {
			color: white;
			font-family: 'Quicksand', sans-serif;
		}

		.profile-photo {
			width: 150px;
			height: 170px;
			border-radius: 50%;
			border: 3px solid #fff;
			box-shadow: 0 0 10px rgba(0.0, 0, 0, 0.3);
		}

		/* Custom styles can be added here */
	</style>
</head>

<body background="/portfolio.jpg">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light text-white bg-dark">
		<a class="navbar-brand text-white " href="/">Bhausaheb Chaudhar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link text-white" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#about">About Me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#skills">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#projects">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#resume">Resume/CV</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Home Section -->
	<section id="home" class="py-5 text-center">
		<div class="container">
			<img src="passport.jpg" alt="passport" class="profile-photo">
			<h1>Hi,..</h1>
			<p class="lead" id="typing-text"></p>
			<p>As a Java developer, I am passionate about building robust and scalable software solutions. With
				expertise in Java programming language and related technologies, I strive to create efficient and
				elegant solutions to complex problems. Explore my portfolio to discover my latest projects and see how I
				turn ideas into reality.</p>
			</p>
			<a href="#about" class="btn btn-primary btn-lg">Learn More</a>
		</div>
	</section>

	<!-- About Me Section -->
	<section id="about" class="py-5">
		<div class="container">
			<h2>About Me</h2>
			<p>Welcome to my portfolio! My name is <b>Bhausaheb Chaudhar</b>, and I am a passionate Java Developer based
				in Hyderabad.
				I have 1.5 years Hands-on experience in Java Developement/Web Developement, specializing in Java.</p>
			<p>Throughout my career, I have worked on project and gained proficiency in Java, Oracle, MySQL, Spring Data
				JPA, Rest API's.
				I am dedicated to continuous learning and staying updated with the latest trends and advancements in the
				industry.</p>
			<p>I believe in the power of technology to drive positive change and solve complex problems. I am
				enthusiastic about collaborating with like-minded individuals and organizations to create innovative
				solutions that make a difference.</p>
			<p>Outside of work, I enjoy Photography/Photoshop. Feel free to explore my portfolio to learn more about my
				professional journey and the projects I've been involved in.</p>
		</div>
	</section>

	<!-- Skills Section -->
	<section id="skills" class="py-5">
		<div class="container">
			<h2>Skills</h2>
			<div class="row">
				<div class="col-md-4">
					<h3>Programming Languages</h3>
					<ul>
						<li>Java</li>
						<li>Python (Basics)</li>
						<li>JavaScript</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h3>Frameworks & Libraries</h3>
					<ul>
						<li>Spring Framework</li>
						<li>React</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h3>Tools & Technologies</h3>
					<ul>
						<li>GitHub</li>
						<li>Docker</li>
						<li>MySQL</li>
						<li>Oracle</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<!-- Projects Section -->
	<section id="projects" class="py-5">
		<div class="container">
			<h2>Projects</h2>
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card">
						<img src="/lab.jpg" class="card-img-top" alt="Project 1 Image">
						<div class="card-body">
							<h5 class="card-title">Project 1</h5>
							<a href="https://github.com/Bhausaheb465/LibraryManagment" class="btn btn-primary">View
								Project</a>
						</div>
					</div>
				</div>
				<!-- <div class="col-md-4 mb-4">
					<div class="card">
						<img src="project2.jpg" class="card-img-top" alt="Project 2 Image">
						<div class="card-body">
							<h5 class="card-title">Project 2</h5>
							<p class="card-text">Brief description of Project 2.</p>
							<a href="#" class="btn btn-primary">View Project</a>
						</div>
					</div>
				</div> -->
				<!-- Add more project cards as needed -->
			</div>
		</div>
	</section>


	<!-- Resume/CV Section -->
	<section id="resume" class="py-5">
		<div class="container">
			<h2>Resume/CV</h2>
			<div class="row mt-3">
				<div class="col">
					<a href="/Bhausaheb-Resume.pdf" class="btn btn-primary" download>Download Resume/CV</a>
				</div>
			</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="py-5 txt-white">
		<div class="container">
			<h2>Contact</h2>
			<div class="row">
				<div class="col-md-6 mx-auto">
					<form th:action="@{/contact}" th:object="${contact}" method="POST">
						<div class="form-group">
							<label for="name">Your Name</label>
							<input type="text" class="form-control" id="name" th:field="*{name}" name="name" required>
						</div>
						<div class="form-group">
							<label for="email">Your Email</label>
							<input type="email" class="form-control" id="email" th:field="*{email}" name="email"
								required>
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea class="form-control" id="message" name="message" th:field="*{msg}" rows="5"
								required></textarea>
						</div>
						<button type="submit" class="btn btn-primary" onclick="submitContactForm()">Send Message</button>
						<div th:text="${succMsg}" id="success-msg" class="alert alert-success" style="display: none;">
						<div th:text="${errMsg}" id="error-msg" class="alert alert-danger" style="display: none;">

					</form>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer class="bg-dark text-white text-center py-3">
		<div class="container">
			<p>&copy; 2024 Your Portfolio</p>
		</div>
	</footer>

	<!-- Bootstrap and jQuery scripts -->
	<script>

		function submitContactForm() {
			var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
			var message = document.getElementById("message").value;
			// alert(name);

			if (name.trim() === '' || email.trim() === '' || message.trim() === '') {
				return;
			} else {
			
			document.getElementById("success-msg").style.display = "block";
			document.getElementById("error-msg").style.display = "block";

			setTimeout(function () {
				document.getElementById("success-msg").style.display = "none";
				document.getElementById("error-msg").style.display = "none";
			}, 3000);
			}
		}


		var text = "My name is Bhausaheb Chaudhar...";
		var speed = 50;
		var index = 0;
		var typingInterval;

		function typeWriter() {
			if (index < text.length) {
				document.getElementById("typing-text").innerHTML += text.charAt(index);
				index++;
			} else {
				clearInterval(typingInterval);
				setTimeout(function () {
					index = 0;
					document.getElementById("typing-text").innerHTML = '';
					typingInterval = setInterval(typeWriter, speed);
				}, 3000);
			}
		}
		typingInterval = setInterval(typeWriter, speed);

	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>